.page-1 {
  height: 100vh;
}

.page-2 {
  height: 65vh;
  background-color: #fff9f2;
}

body {
  background-color: #5da8dd;
  color: #f7f3e3;
}

i {
  font-size: 25px;
}

.colored {
  font-size: 75px;
}

.icon-row {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.name {
  font-size: 80px;
  font-family: "Ubuntu", sans-serif;
  color: #fff9f2;
}

.container {
  justify-content: center;
}

.row {
  justify-content: center;
}

.title {
  margin-top: -50px;
}

.text {
  color: #393e41;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

.fa-home {
  color: #f7f3e3;
}

.navbar-brand {
  color: #f7f3e3 !important;
  font-family: "Open Sans", sans-serif;
}

.logo {
  height: 500px;
  width: 800px;
  margin-top: -40px;
}

.description {
  display: none;
}

.down-arrow {
  height: 100px;
  width: 100px;
}

.bio-heading {
  color: black;
  margin: 0 auto;
}

.lead {
  color: black;
}

a {
  color: #f7f3e3;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #f7f3e3;
}

span {
  color: #9b2d2d;
}

@media screen and (max-width: 500px) {
  .name {
    font-size: 60px;
    margin-top: 50px;
  }
  .text {
    font-size: 15px;
    margin-top: 50px;
  }
  .logo {
    height: 400px;
    width: 400px;
  }
}
