html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  background-color: #5da8dd;
  overflow: auto;
}

h1 {
  font-size: 80px;
  font-family: "Ubuntu", sans-serif;
  color: #f7f3e3;
  margin-left: 25px;
  margin-bottom: 2em;
}

a {
  color: #f7f3e3;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #f7f3e3;
}

.cool-link {
  display: inline-block;
  color: #f7f3e3;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f7f3e3;
  transition: width 0.3s;
  text-decoration: none;
}

.cool-link:hover::after {
  width: 100%;
  text-decoration: none;
  //transition: width .3s;
}

i {
  font-size: 25px;
}

.text {
  color: #393e41;
  font-family: "Open Sans", sans-serif;
  margin-top: -200px;
}

.fa-home {
  color: #f7f3e3;
}

.navbar-brand {
  color: #f7f3e3 !important;
  font-family: "Open Sans", sans-serif;
}

.logo {
  height: 500px;
  width: 500px;
  margin-top: -60px;
  margin-bottom: -60px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  .logo {
    margin-top: -120px;
    margin-bottom: -110px;
  }
  .text {
    margin-top: -170px;
  }
}
